{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Produto</title>
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/product_form/styles.css' %}">
  <link rel="stylesheet" href="{% static '/css/global.css' %}">
</head>
<body>
  <div class="container">
    <header><span>Store Control</span></header>
    <div class="container-body">
      <div class="card">
        <div class="card-header">
          <h1>Digite os dados do produto</h1>
        </div>
        <form method="post" id="products-form">{% csrf_token %}
          <div class="inputs">
            <div class="input-group">
              {{ form.title }}
              {{ form.quantity }}
              {{ form.description }}
              <div class="info-block">
                {{ form.value }}
                {{ form.barcode }}
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="create-btn" form="products-form">
        <button onclick="handleAddProduct()">Cadastrar produto</button>
      </div>
    </div>
  </div>
</body>
</html>

{% block javascript %}
<script>
  function handleAddProduct() {
    document.getElementById("products-form").submit();
  }
</script>
{% endblock %}
{% else %}
<script>
  location.href = '{% url "login" %}'
</script>
{% endif %}